body{
    background-color: lightgray;
}
.container-1{
    background-color: white;
}
main{
    position: absolute;
    left: 150px;
    bottom: 100px;
    background-color: white;
    width: 50%;
    height: 50px;
    border-radius: 3%;
    padding: 20px;
}
.logo{
    padding: 10px;
    margin-top:10px ;
    margin-left: 20px;
    height: 40px;
}
.logo-text{
    position:absolute;
    top: 30px;
    font-weight: bold;
    font-size: 40px;
}
.tasto-task{
    padding: 3px;
    border-radius: 10px;
    color: white;
    background-color: blue;
}
.tasto-section{
    padding: 3px;
    border-radius: 10px;
    color: grey;
}
main{
    height: 400px;
    width: 70%;
    margin:auto;
    padding-top: 20px;
}
.editorial{
    background-color: violet;
    border-radius: 40%;
    border: 1px;
    padding: 3px 3px;
}
.q1{
    background-color: green;
    border-radius: 40%;
    border: 1px;
    padding: 3px 3px;
}
.recruiting{
    background-color: blue;
    border-radius: 40%;
    border: 1px;
    padding: 3px 3px;
}
.mobile{
    background-color: orange;
    border-radius: 40%;
    border: 1px;
    padding: 3px 3px;
}
.website{
    background-color: orange;
    border-radius: 40%;
    border: 1px;
    padding: 3px 3px;
}
.sales{
    background-color: red;
    border-radius: 40%;
    border: 1px;
    padding: 3px 3px;
}
.Calendar{
    background-color: lightseagreen;
    border-radius: 40%;
    border: 1px;
    padding: 3px 3px;
}
